h2.loginTitle {
  text-transform: uppercase;
}

body {
  background-color: #69a7a7 !important;
}

.App {
  text-align: left;
  padding: 1em;
  margin: 1em;
  /*border: 2px solid #d3d3d3;*/
  border-radius: 0.5em;
  vertical-align: middle;
  /*margin-left: auto;*/
  margin-right: auto;
  width: 700px;
  margin-top: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #69a7a7;
}

.form {
  padding: 1em;
}

label {
  display: flex;
  font-weight: 600;
}

button {
  justify-content: flex-end;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
